/* ================= FOOTER ================= */

.footer-section {
    background-color: #15032e67;
    color: #ffffff;
}

.footer-logo {
    font-weight: 400;
}

.footer-heading {
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-text {
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.footer-line {
    border-color: rgba(22, 6, 59, 0.3);
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #ddd;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #ffc107;
    padding-left: 5px;
}

.footer-heading {
    margin-bottom: 15px;
    font-weight: 600;
}

.copyright-section {
    height: 30px;
    background-color: #000;
    color: #fff;
    padding: 40px 0;
    /* Increase this value for more height */
    font-size: 15px;
}